body {
    background-image: url('../newBackgroung.jpg');
    overflow-x: hidden;
}

section {
    margin-top: 2% !important;
}

img {
    border-radius: 1.2em;
    height: inherit;
    width: inherit;
    object-fit: cover;
    overflow: hidden !important;
}

.picture-box>* {
    align-self: flex-start;
}

.picture-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: row wrap;
    align-items: stretch;
    margin-top: 5%;
    height: 29em;
    width: 20em;
    padding: 0px 2px;
    margin: 5px;
    border-radius: 1.2em;
    border: rgba(51, 51, 51, 0.315) solid;
    overflow: hidden;
}

.disable {
    opacity: 0.5;
}

.image-with-text {
    position: relative;
    width: inherit;
    height: inherit;
    display: inline-block;
    background-size: cover;
    align-items: none;
}

.image-with-text * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.image-with-text div {
    z-index: 1;
    color: red;
    text-align: center;
    padding: 8px;
    padding-top: 70%;
    font-size: 1.4em;
}

.description-box {
    background-color: white;
    align-self: center;
    width: 15em;
    padding: 0px 2px;
    border-radius: 0.5em;
}

.text {
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    margin-top: 10%;
    text-align: center;
}

@media screen and (max-width: 800px) {
    section {
        margin-bottom: 5em;
    }
    body {
        overflow-x: hidden;
    }
    .picture-box {
        margin: 5%;
        display: flex;
        flex-direction: column;
        height: 28em;
        width: 18em;
    }
}