:root {
    --orange-accent: #f08732e7;
    --green-accent: rgb(0, 145, 31);
    --red-accent: rgba(255, 70, 70, 0.952);
}

main {
    padding: 0px;
}

.progress-arrow,
.detalii-expeditor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.check{
    pointer-events: none;
}

.progress-arrow img {
    height: 30px;
    width: 30px;
}

ol {
    transition: 500ms ease-in-out;
    padding: 0px;
}

img {
    height: 30px;
    width: 30px;
    margin-right: 3%;
}

.title-with-image {
    margin-right: 3%;
    font-size: 1.7em;
}

.input-box {
    width: 92%;
}

.input-box {
    margin-left: 3%;
}

.button-container button {
    font-size: 1.3em;
    height: 2.5em;
}

.collapsable-list {
    text-align: center;
    list-style-type: none;
    transition: max-height 0.2s ease-out;
}

.no-space {
    margin: 0px !important;
}

.progress-done {
    background-color: var(--green-accent);
}

.progress-now {
    background-color: var(--orange-accent);
}

.progress-disabled {
    background-color: rgb(168, 168, 168);
}

[id]{
    text-align: center;
}

#submit{
    margin-left: 20%;
    margin-right: 20%;
    background-color: lightgreen;
}

.listSofer{
    width: 90% ;
    flex: unset;
}

.check{
    pointer-events: none; 
}

@media screen and (max-width:800px){
    .listSofer{
        width: 85% ;
        flex: unset;
    }
    .title-with-image {
        font-size: 17px !important;
    }
}
