.progress-arrow,
.button-container div,
.detalii-expeditor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.progress-arrow img {
    height: 30px;
    width: 30px;
}

#detalii-expeditor {
    text-align: center;
    list-style-type: none;
}