[id]{
    text-align: center;
}

#submit{
    margin-left: 20%;
    margin-right: 20%;
    background-color: lightgreen;
}

.listSofer{
    width: 90% ;
    flex: unset;
}

.check{
    pointer-events: none;
}
@media screen and (max-width:800px){
    .listSofer{
        width: 90% ;
        flex: unset;
    }
    .big > .box{
        margin:auto;
        padding-left: auto ;
    }
}
