:root {
    --orange-accent: #f08732e7;
    --green-accent: rgb(0, 145, 31);
}

main {
    padding: 0px;
}

.progress-arrow,
.status {
    text-align: center;
}

label {
    font-size: 1.7em !important;
}

.progress-arrow img {
    height: 30px;
    width: 30px;
}

img {
    height: 30px;
    width: 30px;
    margin-right: 3%;
}

.title-with-image {
    margin-right: 3%;
}

.input-box {
    width: 92%;
}

.input-box {
    margin-left: 3%;
}

.button-container button {
    font-size: 1.3em;
    height: 2.5em;
}

input#continue {
    font-size: 1.3em;
    height: 2.5em;
}

input#forgot {
    font-size: 1.3em;
    height: 2.5em;
}

input#resetPass {
    font-size: 1.3em;
    height: 2.5em;
}

.collapsable-list {
    text-align: center;
    list-style-type: none;
    transition: max-height 0.2s ease-out;
}

.no-space {
    margin: 0px !important;
}

.progress-done {
    background-color: var(--green-accent);
}

.progress-now {
    background-color: var(--orange-accent);
}

@media screen and (max-width:800px) {
    .title-with-image {
        font-size: 17px;
    }
}