:root {
    --orange-accent: #f08732e7;
    --green-accent: rgb(0, 145, 31);
    --red-accent: rgba(255, 70, 70, 0.952);
}

.progress-arrow,
.detalii-expeditor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

ol {
    transition: 500ms ease-in-out;
}

.progress-arrow img {
    height: 30px;
    width: 30px;
}

img {
    height: 30px;
    width: 30px;
    margin-right: 3%;
}

.title-with-image {
    margin-right: 3%;
    font-size: 1.7em;
}

ul>li {
    list-style-type: unset;
}

.collapsable-list {
    text-align: center;
    list-style-type: none;
    transition: max-height 0.2s ease-out;
}

.button-container button {
    font-size: 1.3em;
    height: 2.5em;
}

.progress-done {
    background-color: var(--green-accent);
}

.progress-now {
    background-color: var(--orange-accent);
}

.progress-invalid {
    background-color: var(--red-accent);
}

.progress-disabled {
    background-color: rgb(168, 168, 168);
}