    .empty-container {
        display: flex;
        padding-bottom: 11vh;
    }
    
    select::placeholder {
        color: rgba(59, 55, 55, 0.226);
    }
    
    .color {
        color: rgba(59, 55, 55, 0.226);
    }