body{
    background-size: 100% 100%;
}

.grid{
    display: grid;
    grid-template-columns: 10% 90%;
}

.flex{
    flex-direction: column;
}

#none{
    display: none;
}

@media screen and (max-width:800px){
    .grid{
        display: unset;
    }
    
    .flex{
        flex-direction: row;
    }

    #cityChart {
        margin-left: -30px;
        margin-right: unset;
    }

    #localChart{
        margin-left: unset;
        margin-right: unset;
    }

    .big>.wide{
        display: unset;
    }
}