body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.grid {
    display: grid;
    background-color: rgb(112, 142, 157);
    grid-gap: 2rem;
    grid-template-rows: repeat(5, 12vh);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
    margin-bottom: 6%;
}

.subgrid-awb {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

.subgrid {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

#field1 {
    background-color: white;
    border-left: solid rgb(82, 82, 82);
    border-bottom: solid rgb(82, 82, 82);
    border-right: solid rgb(82, 82, 82);
    grid-row: 1/1;
}

#field2 {}

#field3 {}

#field4 {}

#field5 {}

.center-inline>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 5vh;
    grid-row: 1/2;
    grid-column: 2/3;
}

.classic-text {
    font-size: 2vh;
    grid-row: 1/2;
    grid-column: 1/2;
    color: white;
    margin-left: 6%;
}