body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(95, 136, 197);
}

.container{
    display: grid;
    grid-gap: 2rem;
}


.register{
    font-size: 3vh;
    display: grid;
    justify-content: center;
    align-items: center;
    color:white;
}

.form-example{
    margin-top:20px;
    margin-left: 250px;
}

hr{
    margin-top: 30px;
    margin-right: 250px;
    border:2px solid;
    color:white;
}

.date{
    color:white;
    font-size: 2.5vh;
}

.form-feld{
    text-align: center;
    font-size: 3vh;
    padding: 5px 10px;
    margin-left:10px;
    background-color: transparent;
    border: none;
    border-left: 2px solid white;
    color:white;
}

.submit{
    background-color:white;
    border: none;
    color: rgb(95, 136, 197);
    font-size: 2.5vh;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 450px;
}

*:focus{
    outline: none;
}

@media only screen and (max-device-width: 768px) {
    .form-example{
        margin-left: 8px;
    }

    hr{
        margin-left: 10px;
        margin-right: 20px;
    }
    .submit{  
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .form-feld{
        font-size: 2vh;
        width: 45%;
        font-size: 2vh;
        padding: 1px 5px;
        margin-left: 0px;
    }
}