<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>PSS</title>
    <link rel='stylesheet' type='text/css' media='screen' href='template.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div id="here">
            <button id="hamburger">
            </button>
            <div>
                Logo
            </div>
            <div id="login-info">
                Bună!
            </div>
        </div>
    </nav>
    <menu class="hidden">
        <li>
            Locații
        </li>
        <li>
            Despre noi
        </li>
        <li>
            Verificare AWB
        </li>
        <li>
            Contact
        </li>
    </menu>
    <main>
        <section>
            <div class="box">
                <h2>Login</h2>
                <form id="login-form" action="">
                    <input class="input-box" type="text" id="username-input" name="fname" placeholder="Email"><br>
                    <input class="input-box" type="password" id="username-input" name="lname" placeholder="Parolă"><br><br>
                    <div class="button-container">
                        <input type="submit" value="Submit">
                        <input id="toggle-reset" type="button" value="Resetare parolă">
                        <input id="new-account" type="button" value="Cont nou" href="aa">
                    </div>
                </form>
            </div>

            <div class="box">
                <h2>Estimare cost</h2>

            </div>
            <div class="box">
                <h2>Urmărește colet</h2>

            </div>



        </section>

        <section>
            <div class="box">
                <h2>Alt titlu</h2>
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some dsa,jdnsabjdnsahdbsb dhsakbdsabdsa bdsabdsbdsab dsbatext some text some text..
                </p>

            </div>

            <div class="box">
                <h2>AWB</h2>
                <p>
                    Some text some text some text some tedasdsadasda sdasdasdasdas xt..
                </p>
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some text some text some text..
                </p>
            </div>

        </section>


        <section class="big">
            <div class="box">
                <h2>AWB tracking</h2>
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some dsa,jdnsabjdnsahdbsb dhsakbdsabdsa bdsabdsbdsab dsbatext some text some text..
                </p>

            </div>

            <div class="box">
                <h2>AWB2</h2>
                <p>
                    Some text some text some text some tedasdsadasda sdasdasdasdas xt..
                </p>
            </div>
            <div class="box">
                <h2>AWB tracking</h2>
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some dsa,jdnsabjdnsahdbsb dhsakbdsabdsa bdsabdsbdsab dsbatext some text some text..
                </p>

            </div>
            <div class="box">
                <h2>AWB tracking</h2>
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some dsa,jdnsabjdnsahdbsb dhsakbdsabdsa bdsabdsbdsab dsbatext some text some text..
                </p>

            </div>
            <div class="box">
                <h2>AWB tracking</h2>
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some dsa,jdnsabjdnsahdbsb dhsakbdsabdsa bdsabdsbdsab dsbatext some text some text..
                </p>

            </div>
            <div class="wide box">
                <h2>EXEMPLU DE TEXT LUNG IN BOG BOX</h2>

                <p>

                </p>
                <p>
                    Some text some text some text some text Some text some text some text some text Some text some text some text some text Some text some text some text some text Some text some text some text some text Some text some text some text some texT
                </p>
                <p>
                    Some text some dsa,jdnsabjdnsahdbsb dhsakbdsabdsa bdsabdsbdsab dsbatext some text some text..
                </p>

            </div>
        </section>
        <section>
            <div class="box">
                <h2>Single box in container</h2>
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some dsa,jdnsabjdnsahdbsb dhsakbdsabdsa bdsabdsbdsab dsbatext some text some text..
                </p>

            </div>
        </section>
        <!-- <div class="container">
                <div class="box">
                    <h2>AWB tracking</h2>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some dsa,jdnsabjdnsahdbsb dhsakbdsabdsa bdsabdsbdsab dsbatext some text some text..
                    </p>

                </div>

                <div class="box">
                    <h2>AWB</h2>
                    <p>
                        Some text some text some text some tedasdsadasda sdasdasdasdas xt..
                    </p>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some text some text some text..
                    </p>
                </div>
            </div> -->


    </main>
    <script src='template.js'>
    </script>

</body>

</html>