<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>PSS</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='template.css'>
</head>

<body>

    <div class="navbar">
        <a href="#home">
            <div id="hamburger">
                Menu
            </div>
            <div>
                Logo
            </div>
            <div id="login-info">
                Hello,
            </div>
        </a>
    </div>
    <div id="menu" class="hidden">
        <ol>
            <li>
                Unde livrăm
            </li>
            <li>
                Locații
            </li>
            <li>
                Verificare AWB
            </li>
            <li>
                Estimare cost
            </li>
            <li>
                Contact
            </li>
        </ol>
    </div>
    <div class="main">
        <div class="container">
            <div class="box-small">
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some text some text some text..
                </p>

            </div>

            <div class="box-small">
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some text some text some text..
                </p>
            </div>

            <div class="box-small">
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some text some text some text..
                </p>
                <p>
                    Some text some text some text some text..
                </p>
            </div>
        </div>
        <!-- 
        <div class="container">
            <div class="box-medium">

            </div>
            <div class="box-medium">

            </div>
        </div>

        <div class="container">
            <div class="box-large">

            </div>
        </div> -->
        <h1>Fixed Top Menu</h1>
        <h2>Scroll this page to see the effect</h2>
        <h2>The navigation bar will stay at the top of the page while scrolling</h2>

        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text som1 e text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
        <p>Some text some text some text some text..</p>
    </div>
    <script src='template.js'></script>

</body>

</html>