/* COLORS:
#fbfef7 alb deschis
#e4e8da alb mai inchis
#b8cacc albastru extrordinar de deschis
#9ab2b2 albastru gri
#899998 albastru mai gri
#1d7ba7 albastru deschis 
#6fa6ab turcoaz
#3d7e80 turcoaz inchis
#2e6369 turcoaz mai inchis
#2d4549 turcoaz negru
*/

body {
    background-color: #fbfef7;
    font-family: 'Poppins', sans-serif;
    background-image: url('https://i.pinimg.com/originals/04/e9/10/04e910cd6c11b1784be7efbd44bcabe9.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 120% 100%;
}

section {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.box>h4 {
    color: white;
    margin: 0.9em 1.5em;
    font-size: 3vh;
}

.box {
    background-color: #1d7ba7c4;
    color: white;
    border: #333 solid;
    border-radius: 1.2em;
    border-color: #9ab2b2;
    min-height: 30vh;
    min-width: 30vw;
    overflow: auto;
    margin: 5px;
    padding: 0px 2px;
    text-align: left;
    flex: 1;
}

.big {
    background-color: #1d7ba7c4;
    margin: 70px 5px 0px 5px;
    display: flex;
    flex-flow: row wrap !important;
    align-items: baseline !important;
    justify-content: left;
    padding: none;
    border: #333 solid;
    border-radius: 1.2em;
    border-color: #9ab2b2;
}

.big:last-child {
    justify-content: left;
}

.big>.box {
    flex: unset;
    background-color: transparent !important;
    border-color: transparent;
    width: 50%;
    min-height: unset !important;
    border: none;
    margin: 0px;
    padding-left: 0%;
    padding-right: 0%;
}

.big>.wide {
    width: 100% !important;
}

.box>* {
    margin: 1.5em;
}

body {
    margin: 0;
}

.hidden {
    position: absolute;
    left: -105%;
}

.input-box {
    border: none;
    background-color: #fbfef7;
    caret-color: #42adf8;
    width: 90%;
    height: 1.5em;
    text-align: left;
    padding-left: 10px;
    margin: 3%;
    border-radius: 8px;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

.input-box::placeholder {
    color: rgba(59, 55, 55, 0.226);
}

.input-box:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

.button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 3%;
    margin-right: 3%;
}

.button-container > * {
    background-color: #e5c8c19c;
    border: none;
    height: 35px;
    color: white;
    text-align: center;
    align-self: stretch;
    display: inline-block;
    font-size: 0.8em;
    margin: 4px 2px;
    border-radius: 8px;
    flex-grow: 4;
    flex: 1;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button-container>*:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

menu {
    margin: 0px;
    padding: 0px;
    top: 3.5em;
    position: fixed;
    width: 100%;
    height: calc(100vh - 3.5em);
    background-color: antiquewhite;
    text-align: center;
}

menu > * {
    margin-top: 6%;
}

nav {
    background-color: #0f5d82;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.5em;
    padding: 0px;
    transition: 0.4s;
    z-index: 1;
}

nav button {
    border: none;
    background-color: #0f5d82;
    background-image: url('hamburger-menu.jpg');
    background-position-y: center;
    background-size: cover;
    width: 40px;
    height: 30px;
    outline: none;
}

#hamburger:hover {
    background-color: #899998;
}

nav>* {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    padding: 16px;
    margin-top: 30px;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}

@media screen and (max-width: 800px) {
    section {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .box {
        border: #333 solid;
        width: 90vw;
        min-height: 30vh;
        margin: 10px;
        display: flex;
        flex-direction: column;
        border-color: #9ab2b2;
        /*nu stiu dc nu se pastreaza culoarea si pe mobile si se fac negre*/
    }
    .box>* {
        font-size: medium;
    }
    .big>.box {
        width: 90% !important;
    }
}