<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>PSS</title>
    <link rel='stylesheet' type='text/css' media='screen' href='template.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div id="here">
            <button id="hamburger">
            </button>
            <div>
                <img src="logo.png" alt="">
            </div>
            <div id="login-info">
                Bună!
            </div>
        </div>
    </nav>
    <<menu class="hidden">
        <div>
            Locații
        </div>
        <div>
            Despre noi
        </div>
        <div>
            Verificare AWB
        </div>
        <div>
            Estimare cost
        </div>
        <div>
            Contact
        </div>
        </menu>
        <main>
            <section>
                <div class="box">
                    <h4>Login</h4>
                    <form id="login-form" action="">
                        <input class="input-box" type="text" id="username-input" name="fname"
                            placeholder="Email">Autentificare
                        <input class="input-box" type="password" id="username-input" name="lname"
                            placeholder="Parolă">AutentificareAutentificare
                        <div class="button-container">
                            <input type="submit" value="Submit">
                            <input id="toggle-reset" type="button" value="Resetare parolă">
                            <input id="new-account" type="button" value="Cont nou" href="aa">
                        </div>
                    </form>
                </div>

                <div class="box">
                    <h4>Estimare cost</h4>

                </div>
                <div class="box">
                    <h4>Urmărește colet</h4>

                </div>



            </section>

            <section>
                <div class="box">
                    <h4>Alt titlu</h4>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some dsa,jdnsabjdnsahdbsb dhsakbdsabdsa bdsabdsbdsab dsbatext some text some text..
                    </p>

                </div>

                <div class="box">
                    <h4>AWB</h4>
                    <p>
                        Some text some text some text some tedasdsadasda sdasdasdasdas xt..
                    </p>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some text some text some text..
                    </p>
                </div>

            </section>


            <section class="big">
                <div class="box">
                    <h4>AWB tracking</h4>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some dsa,jdnsabjdnsahdbsb dhsakbdsabdsa bdsabdsbdsab dsbatext some text some text..
                    </p>

                </div>

                <div class="box">
                    <h4>AWB2</h4>
                    <p>
                        Some text some text some text some tedasdsadasda sdasdasdasdas xt..
                    </p>
                </div>
                <div class="box">
                    <h4>AWB tracking</h4>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some dsa,jdnsabjdnsahdbsb dhsakbdsabdsa bdsabdsbdsab dsbatext some text some text..
                    </p>

                </div>
                <div class="box">
                    <h4>AWB tracking</h4>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some dsa,jdnsabjdnsahdbsb dhsakbdsabdsa bdsabdsbdsab dsbatext some text some text..
                    </p>

                </div>
                <div class="box">
                    <h4>AWB tracking</h4>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some dsa,jdnsabjdnsahdbsb dhsakbdsabdsa bdsabdsbdsab dsbatext some text some text..
                    </p>

                </div>
                <div class="wide box">
                    <h4>EXEMPLU DE TEXT LUNG IN BOG BOX</h4>

                    <p>

                    </p>
                    <p>
                        Some text some text some text some text Some text some text some text some text Some text some
                        text

                        some text some text Some text some text some text some text Some text some text some text some
                        text
                        Some text some text some text some texT

                    </p>
                    <p>
                        Some text some dsa,jdnsabjdnsahdbsb dhsakbdsabdsa bdsabdsbdsab dsbatext some text some text..
                    </p>

                </div>
            </section>
            <section>
                <div class="box">
                    <h4>Single box in container</h4>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some dsa,jdnsabjdnsahdbsb dhsakbdsabdsa bdsabdsbdsab dsbatext some text some text..
                    </p>

                </div>
            </section>
            <!-- <div class="container">
                <div class="box">
                    <h4>AWB tracking</h4>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some dsa,jdnsabjdnsahdbsb dhsakbdsabdsa bdsabdsbdsab dsbatext some text some text..
                    </p>

                </div>

                <div class="box">
                    <h4>AWB</h4>
                    <p>
                        Some text some text some text some tedasdsadasda sdasdasdasdas xt..
                    </p>
                    <p>
                        Some text some text some text some text..
                    </p>
                    <p>
                        Some text some text some text some text..
                    </p>
                </div>
            </div> -->

        </main>
        <footer>
            <section>
                <div class="box margin-footer">
                    <div class="center-vertical">
                        <img src="../templates/autori.png" alt="">
                        <h4>Autori</h4>
                    </div>
                    <p>
                        Bujor Bogdan-Constantin
                    </p>
                    <p>
                        Vina Andreea-Madalina
                    </p>
                    <p>
                        Viziteu David-Andrei
                    </p>
                </div>
                <div class="box margin-footer">
                    <div class="center-vertical">
                        <img src="../templates/referinte.png" alt="">
                        <h4>Referințe</h4>
                    </div>
                    <p><a href="https://www.flaticon.com/">www.flaticon.com</a></p>
                    <p><a href="https://www.w3schools.com/">www.w3schools.com</a></p>
                    <p><a href="https://developer.mozilla.org/en-US/">www.developer.mozilla.org</a></p>
                </div>

                <div class="box margin-footer">
                    <div class="center-vertical">
                        <img src="../templates/instagram.png" alt="">
                        <h4>Instagram</h4>
                    </div>
                    <p>
                        <a href="https://www.instagram.com/bujorbogdan99/">bujorbogdan99</a>
                    </p>
                    <p>
                        <a href="https://www.instagram.com/andreea.vina/">andreea.vina</a>
                    </p>
                    <p>
                        <a href="https://www.instagram.com/andrei_david7/">andrei_david7</a>
                    </p>
                </div>
            </section>
        </footer>
        <script src='template.js'>
        </script>

</body>

</html>