/* COLORS:
#fbfef7 alb deschis
#e4e8da alb mai inchis
#b8cacc albastru extrordinar de deschis
#9ab2b2 albastru gri
#899998 albastru mai gri
#1d7ba7 albastru deschis 
#6fa6ab turcoaz
#3d7e80 turcoaz inchis
#2e6369 turcoaz mai inchis
#2d4549 turcoaz negru
*/
body{
    background-color: #fbfef7;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.box{
    background-color: #1d7ba7;
    color: white;
    border: #333 solid;
    min-height: 30vh;
    min-width: 30vw;
    overflow: auto;
    margin: 5px;
    padding: 0px 2px;
    border-radius: 2%;
    border-color: #9ab2b2
/* 
    display: flex;
    flex-direction: column; */
    
}

.box > *{
    /* font-size: medium; */
}

body {
    margin: 0;
}

.hidden{
    position: absolute;
    left: -105%;
}
.input-box{
    border: none;
    background-color: #fbfef7;
    caret-color: #42adf8;
    max-width: 80%;
    height: 1.5em;
    text-align: left;
    padding-left: 10px;
    margin: 10px;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

.input-box::placeholder{
    color: rgba(59, 55, 55, 0.226);
}

.input-box:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
}

#menu{
    top: 3.5em;
    position: fixed;
    width: 100%;
    height: calc(100vh - 3.5em);
    background-color: antiquewhite;
    text-align: center;
}

#menu > *{
    margin-top: 6%;
}

.navbar {
    background-color: #0f5d82;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.5em;
    padding: 0px ;
}

.navbar button{
    font-family: 'Poppins', sans-serif;
    background-color: #0f5d82;
    color: #f2f2f2;
    border: none;
    font-size: 17px;
    outline: none;
}

#hamburger:hover{
   background-color:#899998;
}

.navbar > * {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    font-size: 17px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}

@media screen and (max-width: 800px) {
    .container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .box{
        border: #333 solid;
        width: auto;
        min-height: 30vh;
        margin: 10px;
    }
    
    .box > *{
        font-size: medium;
    }

}